.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
    max-width: 95%;
}

ul {
  display: flex;
  flex-direction: row;
  li {
    display: inline-block;
    margin-left: 8px;
    /* You can also add some margins here to make it look prettier */
    zoom: 1;
    *display: inline;
    /* this fix is needed for IE7- */
    a {
        text-decoration: none;
        color: black;

    }
  }
}
